/* Generals */
* {
  box-sizing: border-box;
}

body, html {
  background-color: rgb(202, 202, 202);
  color: rgb(0, 0, 0);
  font-family: 'Comic Neue', cursive;
  height: 100%;
  line-height: 180%;
  margin: 0;
  text-align: justify;
}

header {
  background-color: rgb(21, 21, 21);
}

h2 {
  font-family: 'Open Sans', sans-serif;
  text-align: center;
}

nav {
  background-color: rgb(21, 21, 21);
  color: #fff;
  text-align: center;
}

nav ul {
  list-style: none;
  padding: 0;
}

nav li {
  display: inline;
}

nav a, main a, aside a {
  font-size: 20px;
  padding-right: 15px;
  text-decoration: none;
}

nav a {
  color: #ffffff;
}

nav a:hover {
  text-decoration: underline red;
}

main {
  box-sizing: border-box;
  float: left;
  padding: 0 30px;
  width: 70%;
}

main a {
  color: rgb(255, 255, 255);
}

main a:hover {
  color: rgb(0, 0, 0);
}

main h1, h2 {
  font-family: 'Open Sans', sans-serif;
  text-align: left;
}

main p, a {
  font-family: 'Open Sans', sans-serif;
}

main h2 {
  text-align: left;
}

aside {
  background-color: rgb(21, 21, 21);
  box-sizing: border-box;
  color: #fff;
  float: right;
  font-family: 'Open Sans', sans-serif;
  margin-top: 10px;
  padding: 30px;
  width: 30%;
}

aside a {
  color: rgb(255, 255, 255);
}

aside a:hover {
  color: rgb(255, 0, 0);
}

footer {
  background-color: rgb(21, 21, 21);
  color: rgb(153, 153, 153);
  text-align: center;
  padding: 20px;
  margin-top: 4px;
}

footer a {
  color: rgb(153, 153, 153);
  display: inline;
  padding: 14px 16px;
  text-align: center;
  text-decoration: none;
  padding: 10px;
}

footer a:hover {
  color: rgb(255,255,255);
}
/* Generals */

/* Structure containers */
.container-general {
  width: 100%;
  margin: auto;
  overflow: hidden;
}

.container-general img {
  display: block;
  margin: auto;
}

#container-logo-start {
  background-attachment: fixed;
  background-image: url("https://images5.alphacoders.com/432/thumb-1920-432953.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 30px;
  min-height: 100%;
  text-align: center;
}

.container-comic {
  background-attachment: fixed;
  background-image: url("https://www.oas.org/ext/Portals/14/EasyDNNnews/2252/Image.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 20px;
  border-color: #FFF;
  border-style: solid;
  box-shadow:
  0 0 0 1px #000,
  0 0 0 3px #FFF,
  0 0 0 1px #000;
  margin: 20px;
  min-height: 30%;
  opacity: .65;
  position: relative;
}

.container-comic__title {
  color: #ffffff;
  font-size: 550%;
  letter-spacing: 8px;
  position: absolute;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 0 0 10px #000;
  top: 50%;
  width: 100%;
}

.container-logo-end {
  background-attachment: fixed;
  background-image: url("https://wallpapercave.com/wp/wp2432866.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 20px;
  min-height: 80%;
  position: relative;
}
/* Structure containers */

/* GRID */
.gallery-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 500px;
  grid-gap: 10px;
  padding: 20px;
}

.gallery__item {
  position: relative;
}

.gallery__img {
  border-color: #FFF;
  border-style: solid;
  box-shadow:
  0 0 0 1px #000,
  0 0 0 2px #FFF,
  0 0 0 1px #000;
  height: 100%;
  object-fit: cover;
  transition: all 0.6s linear;
  width: 100%;
}

.gallery__title {
  bottom: 0;
  background: linear-gradient(rgba(255, 255, 255, 0.7), rgba(0, 0, 0, 1));
  color: #ccc;
  margin: 0;
  padding: 10px;
  position: absolute;
  width: 100%;
}
/* GRID */
